name: build
on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    outputs:
      app-version: ${{ steps.app-version.outputs.version }}
    steps:
    - name: checkout
      uses: actions/checkout@v2.4.0
      with:
        fetch-depth: 0

    - name: fix git tags
      run: |
        # https://github.com/actions/checkout/issues/290
        git fetch --tags --force

    - uses: brpaz/hadolint-action@v1.1.0

    - name: Setup java
      uses: evryfs/composite-java-action@v0.3.3
      with:
        java-version: 17
        cache: true

    - name: Login to QUAY
      uses: docker/login-action@v1
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Run build
      run: mvn clean deploy -Ddocker.registry=quay.io

    - name: export version
      id: app-version
      run: echo "::set-output name=version::$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)"

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Install kind
      uses: helm/kind-action@v1.2.0
      with:
        node_image: "kindest/node:v1.23.0"

    - name: install image
      run: |
        helm install test spring-boot-admin --wait --repo https://evryfs.github.io/helm-charts/ --set image.tag=${{ needs.build.outputs.app-version }}
